<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Characters</key>
	<array/>
	<key>Scripts</key>
	<array>
		<dict>
			<key>id</key>
			<string>AC8BDA5C-0419-4C63-A91D-DBF5E8A1D5D1</string>
			<key>name</key>
			<string>Chapter1</string>
			<key>key</key>
			<string>Va+SO7B9B3nyMwcaCVL/Vw==</string>
		</dict>
	</array>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
