<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Characters</key>
	<array>
		<dict>
			<key>id</key>
			<string>632C1EAE-2A80-4426-96CA-DD8DA276392B</string>
			<key>model</key>
			<string>GrubbyVillager</string>
			<key>name</key>
			<string>GrubbyVillager</string>
			<key>royal</key>
			<false/>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>id</key>
			<string>9FFACE51-B6B7-4098-ACF7-ECD164911600</string>
			<key>name</key>
			<string>C.W. Spellswell</string>
			<key>title</key>
			<string>Writer</string>
		</dict>
		<dict>
			<key>id</key>
			<string>CE59F3AC-A7F7-443D-BFA4-9A07C09B92B0</string>
			<key>name</key>
			<string>Goode Brush</string>
			<key>title</key>
			<string>Illustrator</string>
		</dict>
		<dict>
			<key>id</key>
			<string>682BCF4B-CD79-4EE3-A624-73AAD68E8141</string>
			<key>name</key>
			<string>Pays Bills</string>
			<key>title</key>
			<string>Executive Producer</string>
		</dict>
	</array>
	<key>Scripts</key>
	<array>
		<dict>
			<key>id</key>
			<string>AC8BDA5C-0419-4C63-A91D-DBF5E8A1D5D1</string>
			<key>key</key>
			<string>Va+SO7B9B3nyMwcaCVL/Vw==</string>
			<key>name</key>
			<string>Chapter1</string>
		</dict>
	</array>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
