<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Created</key>
	<date>2022-05-31T12:50:03Z</date>
	<key>CreatedBy</key>
	<string>A. Writer</string>
	<key>Scenes</key>
	<array>
		<dict>
			<key>Scene</key>
			<string>SkipTo</string>
			<key>SkipTo</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Scene</key>
			<string>Intro</string>
		</dict>
		<dict>
			<key>HorizontalNumber</key>
			<string>chapter_1_horizontal_number</string>
			<key>HorizontalTitle</key>
			<string>chapter_1_horizontal_title</string>
			<key>Scene</key>
			<string>ChapterTransition</string>
			<key>ShowPressToContinue</key>
			<true/>
			<key>VerticalNumber</key>
			<string>chapter_1_vertical_number</string>
			<key>VerticalTitle</key>
			<string>chapter_1_vertical_title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>IntroTree</string>
			<key>Scene</key>
			<string>CutScene</string>
			<key>Text</key>
			<array>
				<dict>
					<key>Languages</key>
					<array/>
					<key>TextString</key>
					<string>chapter_1_scene_3_line_1</string>
				</dict>
				<dict>
					<key>Languages</key>
					<array/>
					<key>TextString</key>
					<string>chapter_1_scene_3_line_2</string>
				</dict>
				<dict>
					<key>Languages</key>
					<array/>
					<key>TextString</key>
					<string>chapter_1_scene_3_line_3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>IntroTree</string>
			<key>Scene</key>
			<string>Story</string>
			<key>Text</key>
			<array>
				<dict>
					<key>Character</key>
					<string>GrubbyVillager</string>
					<key>Languages</key>
					<array/>
					<key>TextString</key>
					<string>chapter_1_scene_4_line_1</string>
				</dict>
				<dict>
					<key>Character</key>
					<string>GrubbyVillager</string>
					<key>Languages</key>
					<array/>
					<key>TextString</key>
					<string>chapter_1_scene_4_line_2</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Choices</key>
			<array>
				<dict>
					<key>Text</key>
					<string>chapter_1_scene_5_choice_1</string>
				</dict>
				<dict>
					<key>SkipTo</key>
					<integer>7</integer>
					<key>Text</key>
					<string>chapter_1_scene_5_choice_2</string>
				</dict>
			</array>
			<key>DirectingText</key>
			<string>chapter_1_scene_5_direction</string>
			<key>Image</key>
			<string></string>
			<key>Scene</key>
			<string>Choice</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>IntroTree</string>
			<key>Scene</key>
			<string>Story</string>
			<key>Text</key>
			<array>
				<dict>
					<key>Character</key>
					<string>GrubbyVillager</string>
					<key>Languages</key>
					<array/>
					<key>TextString</key>
					<string>chapter_1_scene_6_line_1</string>
				</dict>
				<dict>
					<key>Character</key>
					<string>GrubbyVillager</string>
					<key>Languages</key>
					<array/>
					<key>TextString</key>
					<string>chapter_1_scene_6_line_2</string>
				</dict>
				<dict>
					<key>Character</key>
					<string>GrubbyVillager</string>
					<key>Languages</key>
					<array/>
					<key>TextString</key>
					<string>chapter_1_scene_6_line_3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>IntroTree</string>
			<key>Label</key>
			<string>PathB</string>
			<key>Scene</key>
			<string>Story</string>
			<key>Text</key>
			<array>
				<dict>
					<key>Character</key>
					<string>GrubbyVillager</string>
					<key>Languages</key>
					<array/>
					<key>TextString</key>
					<string>chapter_1_scene_7_line_1</string>
				</dict>
				<dict>
					<key>Character</key>
					<string>GrubbyVillager</string>
					<key>Languages</key>
					<array/>
					<key>TextString</key>
					<string>chapter_1_scene_7_line_2</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>IntroTree</string>
			<key>Label</key>
			<string>Ending</string>
			<key>Scene</key>
			<string>Story</string>
			<key>Text</key>
			<array>
				<dict>
					<key>Character</key>
					<string>GrubbyVillager</string>
					<key>Languages</key>
					<array/>
					<key>TextString</key>
					<string>chapter_1_scene_8_line_1</string>
				</dict>
				<dict>
					<key>Character</key>
					<string>GrubbyVillager</string>
					<key>Languages</key>
					<array/>
					<key>TextString</key>
					<string>chapter_1_scene_8_line_2</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Scene</key>
			<string>Credits</string>
		</dict>
	</array>
</dict>
</plist>
